# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/.firebase
.firebase

# environments
src/environments/environment.ts
src/environments/environment.prod.ts


# dependencies
/node_modules


## Compiled JavaScript files
/functions/**/*.js
/functions/**/*.js.map

# Typescript v1 declaration files
/functions/typings/
/functions/node_modules/



