<!-- LOADER START -->
<ng-template #loading>
  <div fxFlexFill fxLayoutAlign="center center">
    <mat-progress-spinner mode="indeterminate" diameter="30" strokeWidth="4" color="primary"></mat-progress-spinner>
  </div>
</ng-template>
<!-- LOADER END -->


  

<!-- CONTENT OR LOADING START -->
<div *ngIf="aboutList | async as aboutList; else loading">
  <!-- TOOLBAR START -->
  <div fxLayout="row" fxLayoutAlign="center center" class="mat-typography" fxHide.gt-md>
    <div fxLayout="column" fxFlex="100">

      <mat-toolbar class="transparent">
        <button mat-icon-button aria-label="Back" role="button">
          <mat-icon matTooltip="Voltar" (click)="goBack()">arrow_back</mat-icon>
        </button>
        <span >{{aboutList[0].name}}</span>
      </mat-toolbar>

    </div>
  </div>  
  <!-- TOOLBAR END -->

  <!-- LAYOUT START -->
  <div fxLayout="row" fxLayoutAlign="center start" class="mat-typography" ngStyle.gt-md="margin-top: 25px">
    <div fxLayout="column" fxFlex="80" fxFlex.lt-md="100" fxLayoutGap="25px">
      
      <div *ngFor="let item of aboutList">
      
      <!-- PROJECT START -->        
      <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" fxLayoutGap="25px" class="padding">
        <div fxFlex.gt-md="30" class="padding">

          <div style="overflow: hidden; height: 200px; width: 200px; background: #CCC; border-radius: 100%">
            <img  style="height: 200px" [src]="item.picture" alt="Profile picture" />
          </div>
        </div>

        <div fxLayout="column" ngClass.lt-lg="full-width">
          <h1>{{item.name}}</h1>
          <p>{{item.birthdate | timestampToDate | age}} anos</p>
          <p *ngFor="let featured of item.featured">{{featured}}</p>
          
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutGap="10px">
              <a *ngFor="let s of item.social" fxFlex.lt-md="50" 
                mat-flat-button 
                color="primary"
                [style.background]="s.color" 
                [matTooltip]="s.url" 
                [href]="s.url">
                  <fa [name]="s.icon"></fa> {{s.name}}
              </a>            
            </div>          
          </div>
        </div>
        
      </div>


      <!-- PROJECT START -->        
      <div fxLayout="column" fxLayoutGap="25px" class="padding">
        <mat-chip-list>
          <mat-chip *ngFor="let tag of tagList | async | orderBy:'index'" color="primary" selected >{{tag.name}}</mat-chip>
        </mat-chip-list>
        
        <!-- RESUME START -->
        <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="25px">
          
          <div fxFlex.gt-md="50">  
                <div fxLayout="column" fxLayoutGap="25px">
                  
                  <!-- WORK EXPERIENCE START -->
                  <mat-expansion-panel expanded="true" *ngFor="let w of item.work | orderBy:'dueDate':true">
                    <mat-expansion-panel-header>
                      <mat-panel-title fxHide.lt-md="true">
                        {{w.startDate | timestampToDate:'MM/YYYY'}} - {{w.dueDate?(w.dueDate | timestampToDate:'MM/YYYY'):'hoje'}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{w.position}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div fxLayout="column">
                      <div>
                        <h3>{{w.company}} ({{w.companyLevel}})</h3>
                        <p fxHide.gt-sm="true">{{w.startDate | timestampToDate:'MM/YYYY'}} - {{w.dueDate?(w.dueDate | timestampToDate:'MM/YYYY'):'hoje'}}</p>
                        <p *ngFor="let activity of w.activities">- {{activity}};</p>
                      </div>
                      <div fxLayout.lt-md="column" fxLayoutGap="15px">
                        <a *ngFor="let r of w.ref" fxFlex mat-stroked-button color="primary" [href]="r.url" target="_blank" rel="noreferrer"><mat-icon>{{r.icon}}</mat-icon>{{r.description}}</a>
                      </div>
                    </div>
                  </mat-expansion-panel>
                  <!-- WORK EXPERIENCE END -->
                </div>
          </div>

          <!-- RIGHT COLUMN START -->
          <div fxLayout="column" fxLayoutGap="25px" fxFlex.gt-md="50"> 

            <!-- EDUCATION START -->
            <mat-card>
              <mat-card-content>
                <h2>Formação Acadêmica</h2>
                <div fxLayout="column" fxLayoutGap="25px">
                  <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-md="80">{{item.educationDegree}}</div>
                  </div>
                  <div fxLayout="row wrap" *ngFor="let e of item.education | orderBy:'dueDate':true">
                    <div fxFlex="100" fxFlex.gt-md="20">{{e.startDate | timestampToDate:'YYYY'}} - {{e.dueDate?(e.dueDate | timestampToDate:'YYYY'):'hoje'}}</div>
                    <div fxFlex="100" fxFlex.gt-md="80">{{e.course}}</div>
                    <div fxFlex="100" fxFlexOffset.gt-md="20">- {{e.degree}}, {{e.institution}}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- EDUCATION END-->

            <!-- COURSES START -->
            <mat-card>
              <mat-card-content>
                <h2>Cursos Complementares</h2>
                <div fxLayout="column" fxLayoutGap="25px">
                  <div fxLayout="row wrap" *ngFor="let c of item.courses | orderBy:'dueDate':true">
                    <div fxFlex="100" fxFlex.gt-md="20">{{c.dueDate | timestampToDate:'MM/YYYY'}}</div>
                    <div fxFlex="100" fxFlex.gt-md="80">{{c.name}}</div>
                    <div fxFlex="100" fxFlexOffset.gt-md="20">- {{c.institution}}</div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
            <!-- COURSES END -->

            <div></div>

          </div>
          <!-- RIGHT COLUMN END -->

        </div>
        <!-- RESUME END -->
                        
      </div>
      <!-- PROJECT END -->
    </div>

    </div>
  </div>
  <!-- LAYOUT END -->

</div>
<!-- CONTENT OR LOADING END -->